# macOS
.DS_Store

# Compiled
__pycache__
*.py.swp
*.pyc
.cache

# Environment
.env
.venv
env/
venv/
ENV/

# Testing
.hypothesis/
.pytest_cache/
.pytype/

# IDE
.vscode/

# Local files
multilayer_perceptron_local.py
perceptron_local.py
test_tokenizer.py
test_tokenizer_unknown.py

# To large for now
results/perceptron_newsgroups_bow_model.json